body {
    background-image: url("../images/what-the-hex.png");
}

.card-title{
    margin:10px 0px 10px 0px;
} 

.btn-primary {
    margin:10px 0px 10px 0px;
    width:90%;
    height:5vh;
    text-align: center;
    font-size:2vh;
}

#startGame {
    margin:10px 0px 10px 0px;
}

#timeLeft,#questionText {
    border:0px solid;
    font-size:3vh;
}

#questionImg {
    margin-top: 10px;
    width:35%
}